#page-create-user {
    display: flex;
}

#page-create-user main {
    flex: 1;
}

form.create-orphanage-form {
    width: 700px;
    margin: 64px auto;
    background: #FFFFFF;
    border: 1px solid #D3E2E5;
    border-radius: 20px;
    padding: 64px 80px;
    overflow: hidden;
  }